div.navbar.navbar-fixed-top
 div.navbar-inner
  div.container-fluid
   a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
    span.icon-bar
    span.icon-bar
    span.icon-bar
   //- a.brand#text-logo(href='#') My Favorite Bugs
   div.nav-collapse
    ul.nav
     li.active
      a(href='#') Home
     li
      a(href='#') Search
     li
      a(href='#') Contact
     li
      a(href='#') About
    p.navbar-text.pull-right Logged in as
     a(href='#')  jia.xie
   