div.span3#search-container
  fieldset#search-fieldset
    h2 Search
    form(action='/#', method="get")
      p
        label#bug-name-label(for='bug-name')
          | Bug Name
        input#bug-name(name='bug-name', type='text')
      p
        label#bug-tags-label(for='bug-tags')
          | Bug Tags
        input#bug-tags(name='bug-tags', type='text')
      p
        div.btn#search-bugs(type='submit', value='Search') Search
      
div#bug-area.span12
 div#container
  div.item This is the first bugThis is the first bugThis is the first bugThis is the first bugThis is the first bugThis is the first bugThis is the first bugThis is the first bug
  div.item This is the second bug
  div.item What? so many bugs
