div#search-container
  fieldset#search-fieldset
    h2 Search
    form(action='/search', method="get")
      p
        label#bug-name-label(for='bug-name')
          | Bug Name
        input#bug-name(name='name', type='text')
      p
        label#bug-tags-label(for='bug-tags')
          | Bug Tags
        input#bug-tags(name='tags', type='text')
      p
        span.btn
          input#search-bugs(type='submit', value='Search')
div#bug-area
  ul#bug-list
    each bug, i in bugs
      li.bug
        h3 #{bug.title}
        div.tags
          each tag in bug.tags
            .tag #{tag}
        p #{bug.description}
        
