div.span3#search-container
  fieldset#search-fieldset
    h2 Search
    form(action='/#', method="get")
      p
        label#bug-name-label(for='bug-name')
          | Bug Name
        input#bug-name(name='bug-name', type='text')
      p
        label#bug-tags-label(for='bug-tags')
          | Bug Tags
        input#bug-tags(name='bug-tags', type='text')
      p
        span.btn
          input#search-bugs(type='submit', value='Search')
div#bug-area
  ul#bug-list
    li.bug
      h3 #133 my number 1 bug
      p
        | To set a dynamic column width, 
        | you can pass in a function that 
        | returns the value column width. 
        | The function provides an argument 
        | for the width of the container. 
        | Use this technique for fluid or responsive layouts.
      div.tags
        .tag firefox
        .tag hello
        .tag my favorite
        .tag keke
    li.bug.long
      h3 #133 my number 1 bug
      p
        | To set a dynamic column width, 
        | you can pass in a function that 
        | returns the value column width. 
        | The function provides an argument 
        | for the width of the container. 
        | Use this technique for fluid or responsive layouts.
      p
        | To set a dynamic column width, 
        | you can pass in a function that 
        | returns the value column width. 
        | The function provides an argument 
        | for the width of the container. 
        | Use this technique for fluid or responsive layouts.
      div.tags
        .tag firefox
        .tag hello
        .tag my favorite
        .tag keke 
