!!!
html
  head
    meta(charset='utf-8')
    title My Favorite Bug
    link(href="/bootstrap/css/bootstrap.css", rel="stylesheet")
    link(href="/bootstrap/css/fluid-layout.css", rel="stylesheet")
    script(type='text/javascript', data-main='/scripts/main', src='/scripts/require.js')
    script(type='text/javascript', src="/masonry/jquery.min.js")
    script(type='text/javascript', src="/masonry/jquery.masonry.min.js")
    script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
    
  body
     include includes/header
     .container-fluid!= body
     block scripts
     