header {
  position: absolute;
  background: #444;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 999;
  -webkit-box-shadow: 0px 3px 3px #ccc;
  -moz-box-shadow: 0px 3px 3px #ccc;}
header h1 {
  font-size: 1.4em;}
header h1 a {
  color: #fff;
  letter-spacing: -2px;}

#main-container {
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 800px;}

#search-container {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  background: #efefef;}

#bug-area {
  position: absolute;
  top: 0;
  right: 0;
  left: 250px;
  bottom: 0;
  border-left: 1px solid #bbb;
  overflow: auto;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0px -10px 20px #aaa;
  -moz-box-shadow: 0px -10px 20px #aaa;}
#bug-area .bug {
  padding: 5px;
  border: 1px solid #aaa;
  width: 200px;
  margin-bottom: 10px;
  background: #eee;
  -webkit-box-shadow: 1px 2px 2px #ccc;
  -moz-box-shadow: 1px 2px 2px #ccc;}
#bug-area .bug .tags {
  margin-bottom: 10px;}
#bug-area .bug .tag {
  border: 1px solid #B14;
  display: inline-block;
  background: #D26;
  color: #fff;
  font-size: 10px;
  padding: 2px 4px;
  margin-right: 3px;
  margin-bottom: 3px;
  -webkit-box-shadow: 0px 2px 1px #ccc;
  -moz-box-shadow: 0px 2px 1px #ccc;}
#bug-area .bug h3 {
  padding: 5px 0 5px 35px;
  background: url('//preview.zcool.com.cn/preview/new_png/211/bubble_002.png') no-repeat;
  color: #000;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;}
#bug-area .bug p {
  margin-bottom: 10px;
  font-size: 12px;}

fieldset h2 {
  padding: 5px 10px;}
fieldset p {
  padding: 0px 10px 5px 10px;}
fieldset label {
  display: block;
  padding: 3px 0;}
fieldset input[type=text],input[type=search] {
  width: 224px;}
